* {
  margin: 0;
  padding: 0;
  color: black;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left bottom, plum, white);

  h1 {
    animation: rotation 11s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotateZ(359deg);
    }
  }
}
