.formulaire {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    height: 50vh;
    @include flex_box(column, space-around, center);

    #titre {
      width: 30vh;
      height: 4vh;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 5px 5px 5px gainsboro;
      display: flex;
    }

    textarea {
      width: 30vw;
    }

    #bouton {
      width: 30vh;
      height: 3vh;
      border: 1px solid black;
      border-radius: 8px;
      box-shadow: 5px 5px 5px gainsboro;
      background-color: $color_tres;

      &:hover {
        cursor: pointer;
        background-color: $color_uno;
      }
    }
  }
}
