main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left bottom, plum, white);

  h1 {
    animation: rotation 11s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotateZ(359deg);
    }
  }
}

.formulaire {
  form {
    height: 50vh;
    @include flex_box(column, space-around, center);

    #titre {
      width: 30vh;
      height: 4vh;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 5px 5px 5px gainsboro;
      display: flex;
    }

    textarea {
      width: 30vw;
    }

    #bouton {
      width: 30vh;
      height: 3vh;
      border: 1px solid black;
      border-radius: 8px;
      box-shadow: 5px 5px 5px gainsboro;
      background-color: $color_tres;

      &:hover {
        cursor: pointer;
        background-color: $color_uno;
      }
    }
  }
}

.posts {
  @include flex_box(column, space-between, center);
  div {
    width: 50vw;
    text-align: center;
    margin: 10px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;

    h2 {
      margin-bottom: 25px;
    }

    p {
      width: 70%;
      border: 1px solid black;
      border-radius: 5px;
      margin: 20px auto;
      padding: 10px;
    }

    .tags {
      border: 0;
    }
  }
}
