.posts {
  height: 170vh;
  @include flex_box(column, space-around, center);

  div {
    width: 50vw;
    height: 25vh;
    @include flex_box(column, space-around, center);
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;

    p {
      width: 70%;
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px;
    }
    .tags {
      border: 0;
    }
  }
}
