main {
  height: 100vh;
  @include flex_box(column, space-around, center);

  section {
    width: 50vw;
    text-align: center;
    margin: 10px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;

    h2 {
      margin-bottom: 25px;
    }

    p {
      width: 70%;
      border: 1px solid black;
      border-radius: 5px;
      margin: 20px auto;
      padding: 10px;
    }

    .tags {
      border: 0;
    }
  }
}
